<!DOCTYPE html>
<!-- suggest 추천해주는걸 사용하기 위해 네임 스페이스 추가해야 함 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 화면</title>
  <style>
    .detail table {
      width: 100%;
      border-collapse: collapse; /*간격 없앰*/
    }
    .detail table th, .detail table td {
      border: solid 1px #000;
    }
    .detail2 table {
      width: 100%;
      border-collapse: collapse; /*간격 없앰*/
    }
    .detail2 table th, .detail2 table td {
      border: solid 1px #000;
    }
  </style>
</head>
<body>



  <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
  <h1>관리자 회원 관리 - 회원 상세 정보</h1>
  <!--<div>
    <a href="/admin/main.do">관리자 메인</a>
    |
    <a href="/admin/member/list.do">회원 관리</a>
    |
    <a href="#">카테고리 관리</a>
    |
    <a href="#">강의 관리</a>
    |
    <a href="/member/logout">로그아웃</a>
    <br/> &lt;!&ndash;줄바꿈&ndash;&gt;
    <hr/>
  </div>-->

      <div class="detail">

        <table>
          <tbody>
            <tr>
              <th>아이디</th>
              <td><p th:text="${member.userId}"></p></td>
            </tr>
            <tr>
              <th>이름</th>
              <td><p th:text="${member.userName}"></p></td>
            </tr>
            <tr>
              <th>연락처</th>
              <td><p th:text="${member.phone}"></p></td>
            </tr>
            <tr>
              <th>가입일</th>
              <td><p th:text="${member.regDt}"></p></td>
            </tr>
            <tr>
              <th>이메일 인증</th>
              <td><p th:text="${member.emailAuthYn}"></p></td>
            </tr>
            <tr>
              <th>관리자 여부</th>
              <td><p th:text="${member.adminYn}"></p></td>
            </tr>
            <tr>
              <th>회원 상태</th>
              <td>
                <p>
                  현재 상태 : <span th:text="${member.userStatus}"></span>
                </p>
                <div>
                  <!--action 주소로 form 값 보내라-->
                  <!--누구의 상태를 변경할건데~~ -> hidden으로 정보 보내기-->
                  <form method="post" action="/admin/member/status.do">
                    <input th:value="${member.userId}" type="hidden" name="userId" />
                    <select name="userStatus">
                      <option value="REQ">가입승인중</option>
                      <option value="ING">정상이용중</option>
                      <option value="STOP">정지중</option>
                    </select>
                    <button type="submit">상태 변경</button>
                  </form>
                </div>
              </td>
            </tr>

            <tr>
              <th>회원 비밀번호 초기화</th>
              <td>
                <div>
                  <!--action 주소로 form 값 보내라-->
                  <!--누구의 패스워드를 초기화 할건데~~ -> hidden으로 정보 보내기-->
                  <form method="post" action="/admin/member/password.do">
                    <input th:value="${member.userId}" type="hidden" name="userId" />
                    <input type="text" name="password" />
                    <button type="submit">비밀번호 초기화</button>
                  </form>
                </div>
              </td>
            </tr>

          </tbody>
        </table>


        <!--전체 내용
        <div th:text="${member}">
        -->
        <div>
          <a href="list.do">목록</a>

        </div>
      </div>

      <!--<div th:text="${loginHistory}"></div>--> <!--이게 list형이므로 하나씩 나오게 해줘야 하나보다 => 맞다-->

      <div class="detail2">
        <table>
          <thead>
          <tr>
            <th>No</th>
            <th>로그인 일자</th>
            <th>접속 IP</th>
            <th>접속 UserAgent</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="x : ${loginHistory}">
            <td th:text="${x.no}"></td>
            <td th:text="${x.loginDt}"></td>
            <td th:text="${x.ip}"></td>
            <td th:text="${x.userAgent}"></td>
          </tr>
          </tbody>
        </table>
    </div>


</body>
</html>